body{
    background-image: linear-gradient(to right bottom, #003f9d, #2456af, #3d6dc0, #5584d1, #6d9ce1);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
    color: #e1e1e1;
}


header{
    text-align: center;
    margin: 0 auto;
    padding: 15rem 0 0 0;
}

h1{
    font-size: 60px;
    font-weight: 600;
    margin: 0 auto;
}

span{
    font-weight: 300;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.input{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.ingresarValor{
    padding: 10px;
    border: 0;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.menuSelect{
    padding: 9px;
    width: 7.5rem;
    border: 0;
    background-color: white;
}


.button{
    padding: 10px;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
}

.button:hover{
    background-color: #2456af;
    color: #e1e1e1;
    transition: 0.5s;
}

.valueInput{
    text-align: center;
    margin: 0 auto;
}

.contenedor{
    padding: 5rem;
    width: 15rem;
    margin: 0 auto;
}

h3{
    text-align: center;
    margin: 0 auto;
    background-color: #2456af;
    padding:1rem 0 1rem 0;
}


.dolar{
    display: flex;
    justify-content: space-around;
    background-color: #e1e1e1;
    color: #003f9d;
    text-align: center;
    padding: 5px;
}

.parrafo{
    text-align: center;
    margin: 0 auto;
}
.parrafo::after{
    content: '\A'; white-space: pre;;
}

.background{
    background: linear-gradient(to right bottom, #003f9d, #2456af, #3d6dc0, #5584d1, #6d9ce1);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.loader {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}
@keyframes loader {
    0% { left: -100px }
    100% { left: 110%; }
}
.box {
    width: 50px;
    height: 50px;
    background: #fff;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}
  @keyframes animate {
    17% { border-bottom-right-radius: 3px; }
    25% { transform: translateY(9px) rotate(22.5deg); }
    50% {
      transform: translateY(18px) scale(1,.9) rotate(45deg) ;
      border-bottom-right-radius: 40px;
    }
    75% { transform: translateY(9px) rotate(67.5deg); }
    100% { transform: translateY(0) rotate(90deg); }
} 
  #shadow { 
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}
@keyframes shadow {
    50% {
      transform: scale(1.2,1);
    }
}
  
  

  h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    font-weight: 200;
    opacity: .5;
      font-family: sans-serif;
    color: #fff;
}